.bg {
  &-fixed {
    background-size: 110%;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    .container {
      height: 100%;
      z-index: 3;
      position: relative;
    }
    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(black, 0.08);
    }
  }
  &-light-white {
    background: rgba(white, 0.4);
    color: rgba($text-color, 0.7);
  }
  &-blue {
    background-color: $blue-base;
  }
  &-gray {
    background-color: #ebebeb;
  }
  &-white {
    background: white;
  }
}
