.#{$icomoon-prefix}-check { 
  &:before {
    content: $icon-check;
  }
}
.#{$icomoon-prefix}-close { 
  &:before {
    content: $icon-close;
  }
}
.#{$icomoon-prefix}-expand { 
  &:before {
    content: $icon-expand;
  }
}
.#{$icomoon-prefix}-stats-dots { 
  &:before {
    content: $icon-stats-dots;
  }
}
.#{$icomoon-prefix}-terminal-box { 
  &:before {
    content: $icon-terminal-box;
  }
}
.#{$icomoon-prefix}-hierarchy { 
  &:before {
    content: $icon-hierarchy;
  }
}
.#{$icomoon-prefix}-flake { 
  &:before {
    content: $icon-flake;
  }
}
.#{$icomoon-prefix}-cog { 
  &:before {
    content: $icon-cog;
  }
}
.#{$icomoon-prefix}-speach { 
  &:before {
    content: $icon-speach;
  }
}
.#{$icomoon-prefix}-question { 
  &:before {
    content: $icon-question;
  }
}
.#{$icomoon-prefix}-exclamation { 
  &:before {
    content: $icon-exclamation;
  }
}
.#{$icomoon-prefix}-lock { 
  &:before {
    content: $icon-lock;
  }
}
.#{$icomoon-prefix}-pencil { 
  &:before {
    content: $icon-pencil;
  }
}
.#{$icomoon-prefix}-umbrella { 
  &:before {
    content: $icon-umbrella;
  }
}
.#{$icomoon-prefix}-lock2 { 
  &:before {
    content: $icon-lock2;
  }
}
.#{$icomoon-prefix}-lamp { 
  &:before {
    content: $icon-lamp;
  }
}
.#{$icomoon-prefix}-laptop { 
  &:before {
    content: $icon-laptop;
  }
}
.#{$icomoon-prefix}-bag { 
  &:before {
    content: $icon-bag;
  }
}

