$icon-check: "\e90f";
$icon-close: "\e910";
$icon-expand: "\e909";
$icon-stats-dots: "\e90a";
$icon-terminal-box: "\e911";
$icon-hierarchy: "\e90d";
$icon-flake: "\e904";
$icon-cog: "\e905";
$icon-speach: "\e906";
$icon-question: "\e902";
$icon-exclamation: "\e903";
$icon-lock: "\e900";
$icon-pencil: "\e901";
$icon-umbrella: "\e90b";
$icon-lock2: "\e90c";
$icon-lamp: "\e90e";
$icon-laptop: "\e907";
$icon-bag: "\e908";

